/* src/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-page {
  text-align: center;
  margin-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

form {
  display: inline-block;
}
